@model PupUp.Models.Dogs.Dog
@using PupUp.Models.Dogs.Enums
@{
    ViewData["Title"] = "Edit";
}
@section Styles {
<link rel="stylesheet" href="~/css/site_editor.css" />
}
<div class="editor col-12 col-sm-6 col-md-4">
    <h1>Edit</h1>

    <h4>Dog</h4>
    <hr />
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<DogType>()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<DogGender>()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group editor-line">
            <a asp-action="Index">Back to List</a>
            <input type="submit" value="Save" class="btn" style="color: var(--green); font-weight: bold;" />
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}