html {
    overflow-x: hidden !important;
}

.wrapper {
    overflow: hidden !important;
}

.icon-step {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.step-slider {
    z-index: 2;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

@media screen and (max-width: 576px) {
    .step-slider {
        margin-top: 45px;
    }
}

.step-slider__wrp {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.step-slider__item {
    width: 400px;
    flex-shrink: 0;
}

    .swiper-slide-active, .step-slider__item:hover {
        border-radius: 10px;
        box-shadow: 0 6px 26px 6px rgb(0 0 0 / 25%);
        transition: all 0.3s;
        background: var(--grayblack);
    }

        .swiper-slide-active .step__item {
            color: var(--green) !important;
        }

    .step-slider__item.swiper-slide {
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

    .step-slider__item.swiper-slide-active, .step-slider__item.swiper-slide-prev, .step-slider__item.swiper-slide-next {
        opacity: 1;
        pointer-events: auto;
    }

.step-slider__ctr {
    z-index: 12;
}

.step-slider__arrow {
    background: var(--grayblack);
    color: var(--green);
    border: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 12;
    cursor: pointer;
    outline: none !important;
}

    .step-slider__arrow:focus {
        outline: none !important;
    }

    .step-slider__arrow .icon-font {
        display: inline-flex;
    }

    .step-slider__arrow.step-slider-prev {
        left: 15px;
        transform: translateY(-50%);
    }

    .step-slider__arrow.step-slider-next {
        right: 15px;
        transform: translateY(-50%);
    }

.step-slider__pagination {
    text-align: center;
    margin-top: 50px;
}

    .step-slider__pagination .swiper-pagination-bullet {
        width: 13px;
        height: 10px;
        display: inline-block;
        background: var(--grayblack);
        opacity: 0.2;
        margin: 0 5px;
        border-radius: 20px;
        transition: opacity 0.5s, background-color 0.5s, width 0.5s;
        transition-delay: 0.5s, 0.5s, 0s;
    }

    .step-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--grayblack);
        width: 100px;
        transition-delay: 0s;
    }

@media screen and (max-width: 576px) {
    .step-slider__pagination .swiper-pagination-bullet-active {
        width: 70px;
    }
}

.step__item {
    padding: 40px;
    color: var(--black) !important;
    border-radius: 10px;
    display: block;
    transition: all 0.3s;
}

    .step__item:hover {
        color: var(--green) !important;
    }

@media screen and (min-width: 800px) {

    .step__item:hover .step-date, .step__item:hover .step__title, .step__item:hover .step__txt {
        opacity: 1;
        transition-delay: 0.1s;
    }

    .step__item:hover .step__img {
        box-shadow: none;
    }
}

.step__item.active .step-date, .step__item.active .step__title, .step__item.active .step__txt {
    opacity: 1;
}

.step__item.active .step__img {
    box-shadow: none;
}

@media screen and (max-width: 992px) {
    .step__item {
        padding: 30px;
    }
}

@media screen and (max-width: 576px) {
    .step__item {
        padding: 20px;
    }
}

.step-date {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.3s;
}

@media screen and (max-width: 576px) {
    .step-date {
        margin-bottom: 10px;
        display: inline-flex;
        align-items: center;
        padding-bottom: 0;
    }
}

.step-date__title {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .step-date__title {
        margin-right: 10px;
    }
}

.step-date__txt {
    font-size: 16px;
}

.step__title {
    font-size: 25px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: opacity 0.3s;
}

@media screen and (max-width: 576px) {
    .step__title {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

.step__txt {
    margin: 10px 0;
    line-height: 1.6em;
    font-size: 15px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.step__img {
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin-top: 30px;
    width: 100%;
    transition: all 0.3s;
    transform-origin: 0% 0%;
}

@media screen and (max-width: 576px) {
    .step__img {
        height: 180px;
        margin-top: 20px;
    }
}

.step__img img {
    max-width: 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
